127.0.0.1	localhost
127.0.0.2	bullseye
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters
127.0.1.1	{{ ansible_facts['hostname'] }}

{% for host in play_hosts %}
{% if 'ansible_eth1' in hostvars[host] %}
{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}  {{ hostvars[host]['ansible_hostname'] }}
{% endif %}
{% endfor %}
